@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo/Aleo-BoldItalic.woff2') format('woff2'),
  url('../fonts/aleo/Aleo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo/Aleo-Italic.woff2') format('woff2'),
  url('../fonts/aleo/Aleo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo/Aleo-Bold.woff2') format('woff2'),
  url('../fonts/aleo/Aleo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo/Aleo-Light.woff2') format('woff2'),
  url('../fonts/aleo/Aleo-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo/Aleo-Regular.woff2') format('woff2'),
  url('../fonts/aleo/Aleo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aleo';
  src: url('../fonts/aleo/Aleo-LightItalic.woff2') format('woff2'),
  url('../fonts/aleo/Aleo-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

