
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1458px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-family: 'Aleo', sans-serif;

  span {
    font-weight: 700;
  }
}